h1{
	background: #BEBEC0;
	height: 30px;
	width: 85%;
}
p{
	background: #D5D5D5;
	height: 10px;
}

/*header-start*/
.header{
	background: #DEDEDC;
}
.logo{

}
.logo-img{
	background: #BDBEC0;
	height: 70px;
	width:70px;
	border-radius: 50%;
}
.menu{

}
.menu ul{
	
}
.menu ul li{
	background: #BFBFC0;
	height: 25px;
	width: 100px;
}
/*header-end*/

/*banner-start*/
.banner{

}
.banner-image{
	
}
.b-img{
	background: #DFDFDD;
	height: 350px;
}
.banner-text{

}
/*banner-end*/

/*service-start*/
.service{

}
.service-image{

}
.s-img{
	background: #DFDFDD;
	height: 320px;
}
/*service-end*/
/*footer-top-start*/
.footer-top{
	background: #DEDEDC;
}
.ft-contant{
	
}
.ft-contant h1{
	background: #BEBEBE;
	height: 20px;
	width: 100%;
}
.ft-contant p{
	
}
/*footer-top-end*/

/*footer-bottom-start*/
.footer-bottom{

}
.fb-contant{

}
.fb-contant p{
	background: #D4D4D4;
	height: 5px;
}
/*footer-bottom-end*/